:root {
    --main-color: #d3b3ca;
    --second-color: #afbc53;
    --third-color: #898c53;
    --forth-color: #cbde4d;
/* }
@font-face {
    font-family: "";
    src: url();
} */

body {
    margin: 0px 0px 0px 0px;
    /* background-color: var(--second-color); */
    overflow-x: hidden;

}

main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    /* fixes layout shift of the scroolbar */
    padding-left: calc(100vw - 100%);
}

/* Navigation */
header {
    height: 10vh;
    width: 100vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--third-color);
    height: 50px;
}

nav>ul {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    max-width: 1920px;
    padding: 0;
}

nav>ul>li {
    display: inline-block;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

/* End Navigation */

#business_card {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#business_card>h1 {
    text-align: center;
    font-size: 2em;
}

.info_box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.info_box>* {
    width: 250px;
}